body {
    background: #114357;
    background: -webkit-linear-gradient(to right, #F29492, #114357);
    background: linear-gradient(to right, #F29492, #114357);
    font-family: 'Comfortaa', cursive;
}

.container {
    height: 86vh;
    width: 100vw;
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
}

h1 {
    margin-top: 16vh;
    font-size: 32rem;
}

h2 {
    font-size: 8rem;
}

p {
    width: 65vw;
    margin-top: 40vh;
    font-size: 4rem;
    text-align: center;
}

.menu-button {
    height: 7vh;
    cursor: pointer;
    width: 32px;
    margin: 8px 0 0 8px;
}

.menu-button:hover {
    opacity: 0.8
}

.menu-button div {
    background: white;
    height: 4px;
    width: 32px;
    margin-bottom: 5px;
}

.popup-bar {
    width: 100vw;
    height: 0px;
    overflow: hidden;
    background: white;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 0.5s ease-in-out;
    position: absolute;
    bottom: 0;

}

.height {
    height: 6vh;
    transition: 0.5s ease-in-out;
}